"*":
  "autocomplete-ruby": {}
  core: {}
  editor:
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "1cfaee17-9fda-8d2c-dce2-dbf2eac09b02"
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
